In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('C:/Users/Samsung/Documents/GitHub-Datas/Dataset_Dados_Hidrológicos/1340002_Chuvas.csv', sep=';', encoding= 'latin1')
df.head(20)

,Agência Nacional de Águas - ANA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Superintendência de Gestão da Rede Hidrometeor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sistema de Informações Hidrológicas - Versão WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fone: (61) 2109-5242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E-mail: hidro@ana.gov.br,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"NivelConsistencia: 1 = Bruto, 2 = Consistido",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"TipoMedicaoChuvas: 1 = Pluviômetro, 2 = Pluvió...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Status: 0 = Branco, 1 = Real, 2 = Estimado, 3 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Restrições da consulta:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Código da Estação:1340002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
14,1340002,1,01/01/1944,1,5,"14,6",19,4,1,1,...,1,1,1,1,1,1,1,1,1,1
15,1340002,1,01/12/1943,1,11,"86,7",22,15,1,1,...,1,1,1,1,1,1,1,1,1,1
16,1340002,1,01/11/1943,1,"26,1","136,4",19,9,1,1,...,1,1,1,1,1,1,1,1,1,0
17,1340002,1,01/10/1943,1,"19,2","23,8",17,2,1,1,...,1,1,1,1,1,1,1,1,1,1
18,1340002,1,01/09/1943,1,"5,8",10,18,4,1,1,...,1,1,1,1,1,1,1,1,1,0
19,1340002,1,01/08/1943,1,"0,3","0,3",2,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [14]:
df1 = df.iloc[13:].reset_index(drop=True)
df1.head()

,Agência Nacional de Águas - ANA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
1,1340002,1,01/01/1944,1,5,"14,6",19,4,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1340002,1,01/12/1943,1,11,"86,7",22,15,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1340002,1,01/11/1943,1,"26,1","136,4",19,9,1,1,...,1,1,1,1,1,1,1,1,1,0
4,1340002,1,01/10/1943,1,"19,2","23,8",17,2,1,1,...,1,1,1,1,1,1,1,1,1,1

In [15]:
df1.columns = df1.iloc[0]
df1 = df1[1:]
df1.head()

,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
1,1340002,1,01/01/1944,1,5,"14,6",19,4,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1340002,1,01/12/1943,1,11,"86,7",22,15,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1340002,1,01/11/1943,1,"26,1","136,4",19,9,1,1,...,1,1,1,1,1,1,1,1,1,0
4,1340002,1,01/10/1943,1,"19,2","23,8",17,2,1,1,...,1,1,1,1,1,1,1,1,1,1
5,1340002,1,01/09/1943,1,"5,8",10,18,4,1,1,...,1,1,1,1,1,1,1,1,1,0

In [16]:

df1['Data'] = pd.to_datetime(df1['Data'], format='%d/%m/%Y')

# Ordenar as datas para garantir a sequência
df1 = df1.sort_values(by='Data')

# Criar uma série de datas com a diferença de 1 mês
data_range = pd.date_range(start=df1['Data'].min(), end=df1['Data'].max(), freq='MS')

# Verificar quais datas estão faltando
datas_faltando = data_range.difference(df1['Data'])

# Agora, vamos identificar períodos completos
periodos_completos = []
inicio_periodo = df1['Data'].iloc[0]

for i in range(1, len(df1)):
    if df1['Data'].iloc[i] != df1['Data'].iloc[i-1] + pd.DateOffset(months=1):
        fim_periodo = df1['Data'].iloc[i-1]
        periodos_completos.append((inicio_periodo, fim_periodo))
        inicio_periodo = df1['Data'].iloc[i]

# Adicionar o último período
periodos_completos.append((inicio_periodo, df1['Data'].iloc[-1]))

# Exibir os períodos contínuos e completos
print("Períodos contínuos e completos:")
for inicio, fim in periodos_completos:
    print(f"Início: {inicio.strftime('%d/%m/%Y')} - Fim: {fim.strftime('%d/%m/%Y')}")

Períodos contínuos e completos:
Início: 01/03/1942 - Fim: 01/01/1944

In [20]:
import pandas as pd
import os

# Caminho da pasta onde os arquivos estão localizados
folder_path = 'C:/Users/Samsung/Documents/GitHub-Datas/Dataset_Dados_Hidrológicos'

# Lista para armazenar os resultados
resultados_periodos = []

# Iterar sobre todos os arquivos .csv na pasta
for file in os.listdir(folder_path):
    if file.endswith('.csv'):
        file_path = os.path.join(folder_path, file)
        
        # Abrir o arquivo CSV
        df = pd.read_csv(file_path, sep=';', encoding='latin1')
        
        # Aplicar as transformações no DataFrame
        df1 = df.iloc[13:].reset_index(drop=True)
        df1.columns = df1.iloc[0]
        df1 = df1[1:]

        # Converta a coluna 'Data' para o formato de data
        df1['Data'] = pd.to_datetime(df1['Data'], format='%d/%m/%Y')

        # Ordenar as datas
        df1 = df1.sort_values(by='Data')

        # Criar uma série de datas com a diferença de 1 mês
        data_range = pd.date_range(start=df1['Data'].min(), end=df1['Data'].max(), freq='MS')

        # Verificar quais datas estão faltando
        datas_faltando = data_range.difference(df1['Data'])

        # Identificar períodos completos
        periodos_completos = []
        inicio_periodo = df1['Data'].iloc[0]

        for i in range(1, len(df1)):
            if df1['Data'].iloc[i] != df1['Data'].iloc[i-1] + pd.DateOffset(months=1):
                fim_periodo = df1['Data'].iloc[i-1]
                periodos_completos.append((inicio_periodo, fim_periodo))
                inicio_periodo = df1['Data'].iloc[i]

        # Adicionar o último período
        periodos_completos.append((inicio_periodo, df1['Data'].iloc[-1]))

        # Armazenar o resultado com o nome do arquivo
        resultados_periodos.append({
            'arquivo': file,
            'periodos_completos': periodos_completos,
            'datas_faltando': datas_faltando.strftime('%d/%m/%Y').tolist()
        })

# Exibir os resultados para cada arquivo
for resultado in resultados_periodos:
    print(f"Arquivo: {resultado['arquivo']}")
    print("Períodos contínuos e completos:")
    for inicio, fim in resultado['periodos_completos']:
        print(f"Início: {inicio.strftime('%d/%m/%Y')} - Fim: {fim.strftime('%d/%m/%Y')}")
    print("\nMeses faltando:")
    print(resultado['datas_faltando'])
    print("-" * 50)

Arquivo: 1240010_Chuvas.csv
Períodos contínuos e completos:
Início: 01/05/1915 - Fim: 01/03/1925
Início: 01/05/1925 - Fim: 01/11/1925
Início: 01/01/1926 - Fim: 01/01/1926
Início: 01/11/1926 - Fim: 01/04/1930
Início: 01/11/1933 - Fim: 01/09/1942
Início: 01/11/1942 - Fim: 01/08/1963
Início: 01/10/1963 - Fim: 01/07/1973
Início: 01/10/1973 - Fim: 01/11/1973
Início: 01/03/1974 - Fim: 01/10/1982
Início: 01/12/1982 - Fim: 01/02/1990

Meses faltando:
['01/04/1925', '01/12/1925', '01/02/1926', '01/03/1926', '01/04/1926', '01/05/1926', '01/06/1926', '01/07/1926', '01/08/1926', '01/09/1926', '01/10/1926', '01/05/1930', '01/06/1930', '01/07/1930', '01/08/1930', '01/09/1930', '01/10/1930', '01/11/1930', '01/12/1930', '01/01/1931', '01/02/1931', '01/03/1931', '01/04/1931', '01/05/1931', '01/06/1931', '01/07/1931', '01/08/1931', '01/09/1931', '01/10/1931', '01/11/1931', '01/12/1931', '01/01/1932', '01/02/1932', '01/03/1932', '01/04/1932', '01/05/1932', '01/06/1932', '01/07/1932', '01/08/1932', '01/09/1932', '01/10/1932', '01/11/1932', '01/12/1932', '01/01/1933', '01/02/1933', '01/03/1933', '01/04/1933', '01/05/1933', '01/06/1933', '01/07/1933', '01/08/1933', '01/09/1933', '01/10/1933', '01/10/1942', '01/09/1963', '01/08/1973', '01/09/1973', '01/12/1973', '01/01/1974', '01/02/1974', '01/11/1982']
--------------------------------------------------
Arquivo: 1240012_Chuvas.csv
Períodos contínuos e completos:
Início: 01/11/1933 - Fim: 01/09/1942
Início: 01/11/1942 - Fim: 01/08/1963
Início: 01/10/1963 - Fim: 01/03/1965
Início: 01/03/1965 - Fim: 01/04/1965
Início: 01/04/1965 - Fim: 01/05/1965
Início: 01/05/1965 - Fim: 01/06/1965
Início: 01/06/1965 - Fim: 01/07/1965
Início: 01/07/1965 - Fim: 01/08/1965
Início: 01/08/1965 - Fim: 01/09/1965
Início: 01/09/1965 - Fim: 01/10/1965
Início: 01/10/1965 - Fim: 01/11/1965
Início: 01/11/1965 - Fim: 01/12/1965
Início: 01/12/1965 - Fim: 01/01/1966
Início: 01/01/1966 - Fim: 01/02/1966
Início: 01/02/1966 - Fim: 01/03/1966
Início: 01/03/1966 - Fim: 01/04/1966
Início: 01/04/1966 - Fim: 01/05/1966
Início: 01/05/1966 - Fim: 01/06/1966
Início: 01/06/1966 - Fim: 01/07/1966
Início: 01/07/1966 - Fim: 01/08/1966
Início: 01/08/1966 - Fim: 01/09/1966
Início: 01/09/1966 - Fim: 01/10/1966
Início: 01/10/1966 - Fim: 01/11/1966
Início: 01/11/1966 - Fim: 01/12/1966
Início: 01/12/1966 - Fim: 01/01/1967
Início: 01/01/1967 - Fim: 01/02/1967
Início: 01/02/1967 - Fim: 01/03/1967
Início: 01/03/1967 - Fim: 01/04/1967
Início: 01/04/1967 - Fim: 01/05/1967
Início: 01/05/1967 - Fim: 01/06/1967
Início: 01/06/1967 - Fim: 01/07/1967
Início: 01/07/1967 - Fim: 01/08/1967
Início: 01/08/1967 - Fim: 01/09/1967
Início: 01/09/1967 - Fim: 01/10/1967
Início: 01/10/1967 - Fim: 01/11/1967
Início: 01/11/1967 - Fim: 01/12/1967
Início: 01/12/1967 - Fim: 01/01/1968
Início: 01/01/1968 - Fim: 01/02/1968
Início: 01/02/1968 - Fim: 01/03/1968
Início: 01/03/1968 - Fim: 01/04/1968
Início: 01/04/1968 - Fim: 01/05/1968
Início: 01/05/1968 - Fim: 01/06/1968
Início: 01/06/1968 - Fim: 01/07/1968
Início: 01/07/1968 - Fim: 01/08/1968
Início: 01/08/1968 - Fim: 01/09/1968
Início: 01/09/1968 - Fim: 01/10/1968
Início: 01/10/1968 - Fim: 01/11/1968
Início: 01/11/1968 - Fim: 01/12/1968
Início: 01/12/1968 - Fim: 01/01/1969
Início: 01/01/1969 - Fim: 01/02/1969
Início: 01/02/1969 - Fim: 01/03/1969
Início: 01/03/1969 - Fim: 01/04/1969
Início: 01/04/1969 - Fim: 01/05/1969
Início: 01/05/1969 - Fim: 01/06/1969
Início: 01/06/1969 - Fim: 01/07/1969
Início: 01/07/1969 - Fim: 01/08/1969
Início: 01/08/1969 - Fim: 01/09/1969
Início: 01/09/1969 - Fim: 01/10/1969
Início: 01/10/1969 - Fim: 01/11/1969
Início: 01/11/1969 - Fim: 01/12/1969
Início: 01/12/1969 - Fim: 01/01/1970
Início: 01/01/1970 - Fim: 01/02/1970
Início: 01/02/1970 - Fim: 01/03/1970
Início: 01/03/1970 - Fim: 01/04/1970
Início: 01/04/1970 - Fim: 01/05/1970
Início: 01/05/1970 - Fim: 01/06/1970
Início: 01/06/1970 - Fim: 01/07/1970
Início: 01/07/1970 - Fim: 01/08/1970
Início: 01/08/1970 - Fim: 01/09/1970
Início: 01/09/1970 - Fim: 01/10/1970
Início: 01/10/1970 - Fim: 01/11/1970
Início: 01/11/1970 - Fim: 01/12/1970
Início: 01/12/1970 - Fim: 01/01/1971
Início: 01/01/1971 - Fim: 01/02/1971
Início: 01/02/1971 - Fim: 01/03/1971
Início: 01/03/1971 - Fim: 01/04/1971
Início: 01/04/1971 - Fim: 01/05/1971
Início: 01/05/1971 - Fim: 01/06/1971
Início: 01/06/1971 - Fim: 01/07/1971
Início: 01/07/1971 - Fim: 01/08/1971
Início: 01/08/1971 - Fim: 01/09/1971
Início: 01/09/1971 - Fim: 01/10/1971
Início: 01/10/1971 - Fim: 01/11/1971
Início: 01/11/1971 - Fim: 01/12/1971
Início: 01/12/1971 - Fim: 01/01/1972
Início: 01/01/1972 - Fim: 01/02/1972
Início: 01/02/1972 - Fim: 01/03/1972
Início: 01/03/1972 - Fim: 01/04/1972
Início: 01/04/1972 - Fim: 01/05/1972
Início: 01/05/1972 - Fim: 01/06/1972
Início: 01/06/1972 - Fim: 01/07/1972
Início: 01/07/1972 - Fim: 01/08/1972
Início: 01/08/1972 - Fim: 01/09/1972
Início: 01/09/1972 - Fim: 01/10/1972
Início: 01/10/1972 - Fim: 01/11/1972
Início: 01/11/1972 - Fim: 01/12/1972
Início: 01/12/1972 - Fim: 01/01/1973
Início: 01/01/1973 - Fim: 01/02/1973
Início: 01/02/1973 - Fim: 01/03/1973
Início: 01/03/1973 - Fim: 01/04/1973
Início: 01/04/1973 - Fim: 01/05/1973
Início: 01/05/1973 - Fim: 01/06/1973
Início: 01/06/1973 - Fim: 01/07/1973
Início: 01/07/1973 - Fim: 01/08/1973
Início: 01/08/1973 - Fim: 01/09/1973
Início: 01/09/1973 - Fim: 01/10/1973
Início: 01/10/1973 - Fim: 01/11/1973
Início: 01/11/1973 - Fim: 01/12/1973
Início: 01/12/1973 - Fim: 01/01/1974
Início: 01/01/1974 - Fim: 01/02/1974
Início: 01/02/1974 - Fim: 01/03/1974
Início: 01/03/1974 - Fim: 01/04/1974
Início: 01/04/1974 - Fim: 01/05/1974
Início: 01/05/1974 - Fim: 01/06/1974
Início: 01/06/1974 - Fim: 01/07/1974
Início: 01/07/1974 - Fim: 01/08/1974
Início: 01/08/1974 - Fim: 01/09/1974
Início: 01/09/1974 - Fim: 01/10/1974
Início: 01/10/1974 - Fim: 01/11/1974
Início: 01/11/1974 - Fim: 01/12/1974
Início: 01/12/1974 - Fim: 01/01/1975
Início: 01/01/1975 - Fim: 01/02/1975
Início: 01/02/1975 - Fim: 01/03/1975
Início: 01/03/1975 - Fim: 01/04/1975
Início: 01/04/1975 - Fim: 01/05/1975
Início: 01/05/1975 - Fim: 01/06/1975
Início: 01/06/1975 - Fim: 01/07/1975
Início: 01/07/1975 - Fim: 01/08/1975
Início: 01/08/1975 - Fim: 01/09/1975
Início: 01/09/1975 - Fim: 01/10/1975
Início: 01/10/1975 - Fim: 01/11/1975
Início: 01/11/1975 - Fim: 01/12/1975
Início: 01/12/1975 - Fim: 01/01/1976
Início: 01/01/1976 - Fim: 01/02/1976
Início: 01/02/1976 - Fim: 01/03/1976
Início: 01/03/1976 - Fim: 01/04/1976
Início: 01/04/1976 - Fim: 01/05/1976
Início: 01/05/1976 - Fim: 01/06/1976
Início: 01/06/1976 - Fim: 01/07/1976
Início: 01/07/1976 - Fim: 01/08/1976
Início: 01/08/1976 - Fim: 01/09/1976
Início: 01/09/1976 - Fim: 01/10/1976
Início: 01/10/1976 - Fim: 01/11/1976
Início: 01/11/1976 - Fim: 01/12/1976
Início: 01/12/1976 - Fim: 01/01/1977
Início: 01/01/1977 - Fim: 01/02/1977
Início: 01/02/1977 - Fim: 01/03/1977
Início: 01/03/1977 - Fim: 01/04/1977
Início: 01/04/1977 - Fim: 01/05/1977
Início: 01/05/1977 - Fim: 01/06/1977
Início: 01/06/1977 - Fim: 01/07/1977
Início: 01/07/1977 - Fim: 01/08/1977
Início: 01/08/1977 - Fim: 01/09/1977
Início: 01/09/1977 - Fim: 01/10/1977
Início: 01/10/1977 - Fim: 01/11/1977
Início: 01/11/1977 - Fim: 01/12/1977
Início: 01/12/1977 - Fim: 01/01/1978
Início: 01/01/1978 - Fim: 01/02/1978
Início: 01/02/1978 - Fim: 01/03/1978
Início: 01/03/1978 - Fim: 01/04/1978
Início: 01/04/1978 - Fim: 01/05/1978
Início: 01/05/1978 - Fim: 01/06/1978
Início: 01/06/1978 - Fim: 01/07/1978
Início: 01/07/1978 - Fim: 01/08/1978
Início: 01/08/1978 - Fim: 01/09/1978
Início: 01/09/1978 - Fim: 01/10/1978
Início: 01/10/1978 - Fim: 01/11/1978
Início: 01/11/1978 - Fim: 01/12/1978
Início: 01/12/1978 - Fim: 01/01/1979
Início: 01/01/1979 - Fim: 01/02/1979
Início: 01/02/1979 - Fim: 01/03/1979
Início: 01/03/1979 - Fim: 01/04/1979
Início: 01/04/1979 - Fim: 01/05/1979
Início: 01/05/1979 - Fim: 01/06/1979
Início: 01/06/1979 - Fim: 01/07/1979
Início: 01/07/1979 - Fim: 01/08/1979
Início: 01/08/1979 - Fim: 01/09/1979
Início: 01/09/1979 - Fim: 01/10/1979
Início: 01/10/1979 - Fim: 01/11/1979
Início: 01/11/1979 - Fim: 01/12/1979
Início: 01/12/1979 - Fim: 01/01/1980
Início: 01/01/1980 - Fim: 01/02/1980
Início: 01/02/1980 - Fim: 01/03/1980
Início: 01/03/1980 - Fim: 01/04/1980
Início: 01/04/1980 - Fim: 01/05/1980
Início: 01/05/1980 - Fim: 01/06/1980
Início: 01/06/1980 - Fim: 01/07/1980
Início: 01/07/1980 - Fim: 01/08/1980
Início: 01/08/1980 - Fim: 01/09/1980
Início: 01/09/1980 - Fim: 01/10/1980
Início: 01/10/1980 - Fim: 01/11/1980
Início: 01/11/1980 - Fim: 01/12/1980
Início: 01/12/1980 - Fim: 01/01/1981
Início: 01/01/1981 - Fim: 01/02/1981
Início: 01/02/1981 - Fim: 01/03/1981
Início: 01/03/1981 - Fim: 01/04/1981
Início: 01/04/1981 - Fim: 01/05/1981
Início: 01/05/1981 - Fim: 01/06/1981
Início: 01/06/1981 - Fim: 01/07/1981
Início: 01/07/1981 - Fim: 01/08/1981
Início: 01/08/1981 - Fim: 01/09/1981
Início: 01/09/1981 - Fim: 01/10/1981
Início: 01/10/1981 - Fim: 01/11/1981
Início: 01/11/1981 - Fim: 01/12/1981
Início: 01/12/1981 - Fim: 01/01/1982
Início: 01/01/1982 - Fim: 01/02/1982
Início: 01/02/1982 - Fim: 01/03/1982
Início: 01/03/1982 - Fim: 01/04/1982
Início: 01/04/1982 - Fim: 01/05/1982
Início: 01/05/1982 - Fim: 01/06/1982
Início: 01/06/1982 - Fim: 01/07/1982
Início: 01/07/1982 - Fim: 01/08/1982
Início: 01/08/1982 - Fim: 01/09/1982
Início: 01/09/1982 - Fim: 01/10/1982
Início: 01/10/1982 - Fim: 01/11/1982
Início: 01/11/1982 - Fim: 01/12/1982
Início: 01/12/1982 - Fim: 01/01/1983
Início: 01/01/1983 - Fim: 01/02/1983
Início: 01/02/1983 - Fim: 01/03/1983
Início: 01/03/1983 - Fim: 01/04/1983
Início: 01/04/1983 - Fim: 01/05/1983
Início: 01/05/1983 - Fim: 01/06/1983
Início: 01/06/1983 - Fim: 01/07/1983
Início: 01/07/1983 - Fim: 01/08/1983
Início: 01/08/1983 - Fim: 01/09/1983
Início: 01/09/1983 - Fim: 01/10/1983
Início: 01/10/1983 - Fim: 01/11/1983
Início: 01/11/1983 - Fim: 01/12/1983
Início: 01/12/1983 - Fim: 01/01/1984
Início: 01/01/1984 - Fim: 01/02/1984
Início: 01/02/1984 - Fim: 01/03/1984
Início: 01/03/1984 - Fim: 01/04/1984
Início: 01/04/1984 - Fim: 01/05/1984
Início: 01/05/1984 - Fim: 01/06/1984
Início: 01/06/1984 - Fim: 01/07/1984
Início: 01/07/1984 - Fim: 01/08/1984
Início: 01/08/1984 - Fim: 01/09/1984
Início: 01/09/1984 - Fim: 01/10/1984
Início: 01/10/1984 - Fim: 01/11/1984
Início: 01/11/1984 - Fim: 01/12/1984
Início: 01/12/1984 - Fim: 01/01/1985
Início: 01/01/1985 - Fim: 01/02/1985
Início: 01/02/1985 - Fim: 01/03/1985
Início: 01/03/1985 - Fim: 01/04/1985
Início: 01/04/1985 - Fim: 01/05/1985
Início: 01/05/1985 - Fim: 01/06/1985
Início: 01/06/1985 - Fim: 01/07/1985
Início: 01/07/1985 - Fim: 01/08/1985
Início: 01/08/1985 - Fim: 01/09/1985
Início: 01/09/1985 - Fim: 01/10/1985
Início: 01/10/1985 - Fim: 01/11/1985
Início: 01/11/1985 - Fim: 01/12/1985
Início: 01/12/1985 - Fim: 01/01/1986
Início: 01/01/1986 - Fim: 01/02/1986
Início: 01/02/1986 - Fim: 01/03/1986
Início: 01/03/1986 - Fim: 01/04/1986
Início: 01/04/1986 - Fim: 01/05/1986
Início: 01/05/1986 - Fim: 01/06/1986
Início: 01/06/1986 - Fim: 01/07/1986
Início: 01/07/1986 - Fim: 01/08/1986
Início: 01/08/1986 - Fim: 01/09/1986
Início: 01/09/1986 - Fim: 01/10/1986
Início: 01/10/1986 - Fim: 01/11/1986
Início: 01/11/1986 - Fim: 01/12/1986
Início: 01/12/1986 - Fim: 01/01/1987
Início: 01/01/1987 - Fim: 01/02/1987
Início: 01/02/1987 - Fim: 01/03/1987
Início: 01/03/1987 - Fim: 01/04/1987
Início: 01/04/1987 - Fim: 01/05/1987
Início: 01/05/1987 - Fim: 01/06/1987
Início: 01/06/1987 - Fim: 01/07/1987
Início: 01/07/1987 - Fim: 01/08/1987
Início: 01/08/1987 - Fim: 01/09/1987
Início: 01/09/1987 - Fim: 01/10/1987
Início: 01/10/1987 - Fim: 01/11/1987
Início: 01/11/1987 - Fim: 01/12/1987
Início: 01/12/1987 - Fim: 01/01/1988
Início: 01/01/1988 - Fim: 01/02/1988
Início: 01/02/1988 - Fim: 01/03/1988
Início: 01/03/1988 - Fim: 01/04/1988
Início: 01/04/1988 - Fim: 01/05/1988
Início: 01/05/1988 - Fim: 01/06/1988
Início: 01/06/1988 - Fim: 01/07/1988
Início: 01/07/1988 - Fim: 01/08/1988
Início: 01/08/1988 - Fim: 01/09/1988
Início: 01/09/1988 - Fim: 01/10/1988
Início: 01/10/1988 - Fim: 01/11/1988
Início: 01/11/1988 - Fim: 01/12/1988
Início: 01/12/1988 - Fim: 01/01/1989
Início: 01/01/1989 - Fim: 01/02/1989
Início: 01/02/1989 - Fim: 01/03/1989
Início: 01/03/1989 - Fim: 01/04/1989
Início: 01/04/1989 - Fim: 01/05/1989
Início: 01/05/1989 - Fim: 01/06/1989
Início: 01/06/1989 - Fim: 01/07/1989
Início: 01/07/1989 - Fim: 01/08/1989
Início: 01/08/1989 - Fim: 01/09/1989
Início: 01/09/1989 - Fim: 01/10/1989
Início: 01/10/1989 - Fim: 01/11/1989
Início: 01/11/1989 - Fim: 01/12/1989
Início: 01/12/1989 - Fim: 01/01/1990
Início: 01/01/1990 - Fim: 01/02/1990
Início: 01/02/1990 - Fim: 01/03/1990
Início: 01/03/1990 - Fim: 01/04/1990
Início: 01/04/1990 - Fim: 01/05/1990
Início: 01/05/1990 - Fim: 01/06/1990
Início: 01/06/1990 - Fim: 01/07/1990
Início: 01/07/1990 - Fim: 01/08/1990
Início: 01/08/1990 - Fim: 01/09/1990
Início: 01/09/1990 - Fim: 01/10/1990
Início: 01/10/1990 - Fim: 01/11/1990
Início: 01/11/1990 - Fim: 01/12/1990
Início: 01/12/1990 - Fim: 01/01/1991
Início: 01/01/1991 - Fim: 01/02/1991
Início: 01/02/1991 - Fim: 01/03/1991
Início: 01/03/1991 - Fim: 01/04/1991
Início: 01/04/1991 - Fim: 01/05/1991
Início: 01/05/1991 - Fim: 01/06/1991
Início: 01/06/1991 - Fim: 01/07/1991
Início: 01/07/1991 - Fim: 01/08/1991
Início: 01/08/1991 - Fim: 01/09/1991
Início: 01/09/1991 - Fim: 01/10/1991
Início: 01/10/1991 - Fim: 01/11/1991
Início: 01/11/1991 - Fim: 01/12/1991
Início: 01/12/1991 - Fim: 01/01/1992
Início: 01/01/1992 - Fim: 01/02/1992
Início: 01/02/1992 - Fim: 01/03/1992
Início: 01/03/1992 - Fim: 01/04/1992
Início: 01/04/1992 - Fim: 01/05/1992
Início: 01/05/1992 - Fim: 01/06/1992
Início: 01/06/1992 - Fim: 01/07/1992
Início: 01/07/1992 - Fim: 01/08/1992
Início: 01/08/1992 - Fim: 01/09/1992
Início: 01/09/1992 - Fim: 01/10/1992
Início: 01/10/1992 - Fim: 01/11/1992
Início: 01/11/1992 - Fim: 01/12/1992
Início: 01/12/1992 - Fim: 01/01/1993
Início: 01/01/1993 - Fim: 01/02/1993
Início: 01/02/1993 - Fim: 01/03/1993
Início: 01/03/1993 - Fim: 01/04/1993
Início: 01/04/1993 - Fim: 01/05/1993
Início: 01/05/1993 - Fim: 01/06/1993
Início: 01/06/1993 - Fim: 01/07/1993
Início: 01/07/1993 - Fim: 01/08/1993
Início: 01/08/1993 - Fim: 01/09/1993
Início: 01/09/1993 - Fim: 01/10/1993
Início: 01/10/1993 - Fim: 01/11/1993
Início: 01/11/1993 - Fim: 01/12/1993
Início: 01/12/1993 - Fim: 01/01/1994
Início: 01/01/1994 - Fim: 01/02/1994
Início: 01/02/1994 - Fim: 01/03/1994
Início: 01/03/1994 - Fim: 01/04/1994
Início: 01/04/1994 - Fim: 01/05/1994
Início: 01/05/1994 - Fim: 01/06/1994
Início: 01/06/1994 - Fim: 01/07/1994
Início: 01/07/1994 - Fim: 01/08/1994
Início: 01/08/1994 - Fim: 01/09/1994
Início: 01/09/1994 - Fim: 01/10/1994
Início: 01/10/1994 - Fim: 01/11/1994
Início: 01/11/1994 - Fim: 01/12/1994
Início: 01/12/1994 - Fim: 01/01/1995
Início: 01/01/1995 - Fim: 01/02/1995
Início: 01/02/1995 - Fim: 01/03/1995
Início: 01/03/1995 - Fim: 01/04/1995
Início: 01/04/1995 - Fim: 01/05/1995
Início: 01/05/1995 - Fim: 01/06/1995
Início: 01/06/1995 - Fim: 01/07/1995
Início: 01/07/1995 - Fim: 01/08/1995
Início: 01/08/1995 - Fim: 01/09/1995
Início: 01/09/1995 - Fim: 01/10/1995
Início: 01/10/1995 - Fim: 01/11/1995
Início: 01/11/1995 - Fim: 01/12/1995
Início: 01/12/1995 - Fim: 01/01/1996
Início: 01/01/1996 - Fim: 01/02/1996
Início: 01/02/1996 - Fim: 01/03/1996
Início: 01/03/1996 - Fim: 01/04/1996
Início: 01/04/1996 - Fim: 01/05/1996
Início: 01/05/1996 - Fim: 01/06/1996
Início: 01/06/1996 - Fim: 01/07/1996
Início: 01/07/1996 - Fim: 01/08/1996
Início: 01/08/1996 - Fim: 01/09/1996
Início: 01/09/1996 - Fim: 01/10/1996
Início: 01/10/1996 - Fim: 01/11/1996
Início: 01/11/1996 - Fim: 01/12/1996
Início: 01/12/1996 - Fim: 01/01/1997
Início: 01/01/1997 - Fim: 01/02/1997
Início: 01/02/1997 - Fim: 01/03/1997
Início: 01/03/1997 - Fim: 01/04/1997
Início: 01/04/1997 - Fim: 01/05/1997
Início: 01/05/1997 - Fim: 01/06/1997
Início: 01/06/1997 - Fim: 01/07/1997
Início: 01/07/1997 - Fim: 01/08/1997
Início: 01/08/1997 - Fim: 01/09/1997
Início: 01/09/1997 - Fim: 01/10/1997
Início: 01/10/1997 - Fim: 01/11/1997
Início: 01/11/1997 - Fim: 01/12/1997
Início: 01/12/1997 - Fim: 01/01/1998
Início: 01/01/1998 - Fim: 01/02/1998
Início: 01/02/1998 - Fim: 01/03/1998
Início: 01/03/1998 - Fim: 01/04/1998
Início: 01/04/1998 - Fim: 01/05/1998
Início: 01/05/1998 - Fim: 01/06/1998
Início: 01/06/1998 - Fim: 01/07/1998
Início: 01/07/1998 - Fim: 01/08/1998
Início: 01/08/1998 - Fim: 01/09/1998
Início: 01/09/1998 - Fim: 01/10/1998
Início: 01/10/1998 - Fim: 01/11/1998
Início: 01/11/1998 - Fim: 01/12/1998
Início: 01/12/1998 - Fim: 01/01/1999
Início: 01/01/1999 - Fim: 01/02/1999
Início: 01/02/1999 - Fim: 01/03/1999
Início: 01/03/1999 - Fim: 01/04/1999
Início: 01/04/1999 - Fim: 01/05/1999
Início: 01/05/1999 - Fim: 01/06/1999
Início: 01/06/1999 - Fim: 01/07/1999
Início: 01/07/1999 - Fim: 01/08/1999
Início: 01/08/1999 - Fim: 01/09/1999
Início: 01/09/1999 - Fim: 01/10/1999
Início: 01/10/1999 - Fim: 01/11/1999
Início: 01/11/1999 - Fim: 01/12/1999
Início: 01/12/1999 - Fim: 01/01/2000
Início: 01/01/2000 - Fim: 01/02/2000
Início: 01/02/2000 - Fim: 01/03/2000
Início: 01/03/2000 - Fim: 01/04/2000
Início: 01/04/2000 - Fim: 01/05/2000
Início: 01/05/2000 - Fim: 01/06/2000
Início: 01/06/2000 - Fim: 01/07/2000
Início: 01/07/2000 - Fim: 01/08/2000
Início: 01/08/2000 - Fim: 01/09/2000
Início: 01/09/2000 - Fim: 01/10/2000
Início: 01/10/2000 - Fim: 01/11/2000
Início: 01/11/2000 - Fim: 01/12/2000
Início: 01/12/2000 - Fim: 01/01/2001
Início: 01/01/2001 - Fim: 01/02/2001
Início: 01/02/2001 - Fim: 01/03/2001
Início: 01/03/2001 - Fim: 01/04/2001
Início: 01/04/2001 - Fim: 01/05/2001
Início: 01/05/2001 - Fim: 01/06/2001
Início: 01/06/2001 - Fim: 01/07/2001
Início: 01/07/2001 - Fim: 01/08/2001
Início: 01/08/2001 - Fim: 01/09/2001
Início: 01/09/2001 - Fim: 01/10/2001
Início: 01/10/2001 - Fim: 01/11/2001
Início: 01/11/2001 - Fim: 01/12/2001
Início: 01/12/2001 - Fim: 01/01/2002
Início: 01/01/2002 - Fim: 01/02/2002
Início: 01/02/2002 - Fim: 01/03/2002
Início: 01/03/2002 - Fim: 01/04/2002
Início: 01/04/2002 - Fim: 01/05/2002
Início: 01/05/2002 - Fim: 01/06/2002
Início: 01/06/2002 - Fim: 01/07/2002
Início: 01/07/2002 - Fim: 01/08/2002
Início: 01/08/2002 - Fim: 01/09/2002
Início: 01/09/2002 - Fim: 01/10/2002
Início: 01/10/2002 - Fim: 01/11/2002
Início: 01/11/2002 - Fim: 01/12/2002
Início: 01/12/2002 - Fim: 01/01/2003
Início: 01/01/2003 - Fim: 01/02/2003
Início: 01/02/2003 - Fim: 01/03/2003
Início: 01/03/2003 - Fim: 01/04/2003
Início: 01/04/2003 - Fim: 01/05/2003
Início: 01/05/2003 - Fim: 01/06/2003
Início: 01/06/2003 - Fim: 01/07/2003
Início: 01/07/2003 - Fim: 01/08/2003
Início: 01/08/2003 - Fim: 01/09/2003
Início: 01/09/2003 - Fim: 01/10/2003
Início: 01/10/2003 - Fim: 01/11/2003
Início: 01/11/2003 - Fim: 01/12/2003
Início: 01/12/2003 - Fim: 01/01/2004
Início: 01/01/2004 - Fim: 01/02/2004
Início: 01/02/2004 - Fim: 01/03/2004
Início: 01/03/2004 - Fim: 01/04/2004
Início: 01/04/2004 - Fim: 01/05/2004
Início: 01/05/2004 - Fim: 01/06/2004
Início: 01/06/2004 - Fim: 01/07/2004
Início: 01/07/2004 - Fim: 01/08/2004
Início: 01/08/2004 - Fim: 01/09/2004
Início: 01/09/2004 - Fim: 01/10/2004
Início: 01/10/2004 - Fim: 01/11/2004
Início: 01/11/2004 - Fim: 01/12/2004
Início: 01/12/2004 - Fim: 01/01/2005
Início: 01/01/2005 - Fim: 01/02/2005
Início: 01/02/2005 - Fim: 01/03/2005
Início: 01/03/2005 - Fim: 01/04/2005
Início: 01/04/2005 - Fim: 01/05/2005
Início: 01/05/2005 - Fim: 01/06/2005
Início: 01/06/2005 - Fim: 01/07/2005
Início: 01/07/2005 - Fim: 01/08/2005
Início: 01/08/2005 - Fim: 01/09/2005
Início: 01/09/2005 - Fim: 01/10/2005
Início: 01/10/2005 - Fim: 01/11/2005
Início: 01/11/2005 - Fim: 01/12/2005
Início: 01/12/2005 - Fim: 01/01/2006
Início: 01/01/2006 - Fim: 01/02/2006
Início: 01/02/2006 - Fim: 01/03/2006
Início: 01/03/2006 - Fim: 01/04/2006
Início: 01/04/2006 - Fim: 01/05/2006
Início: 01/05/2006 - Fim: 01/06/2006
Início: 01/06/2006 - Fim: 01/08/2006
Início: 01/08/2006 - Fim: 01/09/2006
Início: 01/09/2006 - Fim: 01/10/2006
Início: 01/10/2006 - Fim: 01/11/2006

In [21]:
df = pd.read_csv('C:/Users/Samsung/Documents/GitHub-Datas/Dataset_Dados_Hidrológicos/1240012_Chuvas.csv', sep=';', encoding= 'latin1')
df1 = df.iloc[13:].reset_index(drop=True)
df1.columns = df1.iloc[0]
df1 = df1[1:]
df1.head()

,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
1,1240012,1,01/11/1933,1,0,0,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
2,1240012,1,01/12/1933,1,35,81,29,5,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1240012,1,01/01/1934,1,"11,5","23,5",2,6,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1240012,1,01/02/1934,1,"1,5",4,2,3,1,1,...,1,1,1,1,1,1,1,0,0,0
5,1240012,1,01/03/1934,1,"3,5",11,12,5,1,1,...,1,1,1,1,1,1,1,1,1,1