In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('1340010_Chuvas.csv', sep=';', encoding= 'latin1')
df.head(20)

,Agência Nacional de Águas - ANA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Superintendência de Gestão da Rede Hidrometeor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sistema de Informações Hidrológicas - Versão WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fone: (61) 2109-5242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E-mail: hidro@ana.gov.br,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"NivelConsistencia: 1 = Bruto, 2 = Consistido",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"TipoMedicaoChuvas: 1 = Pluviômetro, 2 = Pluvió...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Status: 0 = Branco, 1 = Real, 2 = Estimado, 3 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Restrições da consulta:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Código da Estação:1340010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
14,1340010,1,01/01/2001,1,"23,1","35,4",10,2,1,1,...,0,0,0,0,0,0,0,0,0,0
15,1340010,1,01/12/2000,1,"22,2","88,4",8,7,1,1,...,0,0,0,0,0,0,0,0,0,0
16,1340010,1,01/11/2000,1,"71,1","170,59999",11,7,1,1,...,0,0,0,0,0,0,0,0,0,0
17,1340010,1,01/10/2000,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
18,1340010,1,01/09/2000,1,"32,1","40,3",14,2,1,1,...,0,0,0,0,0,0,0,0,0,0
19,1340010,1,01/08/2000,1,"10,1","10,1",9,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df1 = df.iloc[13:].reset_index(drop=True)
df1.head()

,Agência Nacional de Águas - ANA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
1,1340010,1,01/01/2001,1,"23,1","35,4",10,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1340010,1,01/12/2000,1,"22,2","88,4",8,7,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1340010,1,01/11/2000,1,"71,1","170,59999",11,7,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1340010,1,01/10/2000,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df1.columns = df1.iloc[0]
df1 = df1[1:]
df1.head()

,EstacaoCodigo,NivelConsistencia,Data,TipoMedicaoChuvas,Maxima,Total,DiaMaxima,NumDiasDeChuva,MaximaStatus,TotalStatus,...,Chuva22Status,Chuva23Status,Chuva24Status,Chuva25Status,Chuva26Status,Chuva27Status,Chuva28Status,Chuva29Status,Chuva30Status,Chuva31Status
1,1340010,1,01/01/2001,1,"23,1","35,4",10,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1340010,1,01/12/2000,1,"22,2","88,4",8,7,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1340010,1,01/11/2000,1,"71,1","170,59999",11,7,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1340010,1,01/10/2000,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5,1340010,1,01/09/2000,1,"32,1","40,3",14,2,1,1,...,0,0,0,0,0,0,0,0,0,0